.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

/* front of the card */
.card .front {
    position : absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}
.flipped .front{
    transform:  rotateY(0deg);
    transition-delay: 0.2;
}

/* back of the card -cover */
.card .back {
    transition: all ease-in 0.2;
    transition-delay: 0.2s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s
}