.app{
  max-width: 860px;
  margin: 40px auto;
}


button{
  cursor: pointer;
  background: none;
  color: #fff;
  padding: 6px 12px;
  font-weight: bold;
  size: 1rem;
  border-radius: 4px;
  border: 2px solid #fff;
}
button:hover{
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr  1fr  1fr  1fr;
  grid-gap: 20px ;
}